@import '../../styles/themes';

%section {
  box-sizing: border-box;
  padding: 7%;

  @media (min-width: 900px) {
    padding: 63px;
  }
}

.section--light {
  @extend %section;
  @extend %light;
}

.section--dark {
  @extend %section;
  @extend %dark;
}