@font-face {
  font-family: 'pnThin';
  src: url("./assets/fonts/Proxima-Nova-Thin.otf") format("opentype");
}

@font-face {
  font-family: 'pnReg';
  src: url("./assets/fonts/Proxima-Nova-Reg.ttf") format("opentype");
}

@font-face {
  font-family: 'pnBold';
  src: url("./assets/fonts/Proxima-Nova-Bold.otf") format("opentype");
}