$primary: #00a7cf;
$primaryDark: #008eb0;
$secondary: #FDD000;
$secondaryDark: #d99c15;

$lightColor: #5f5f5f;
$lightBackground: #f3f3f3;
$lightElementBackground: #fafafa;

$darkColor: #acacac;
$darkBackground: #292929;
$darkElementBackground: #444444;